.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 1cqmax;

  &__Img {
    max-width: 5rem;
    max-height: 5rem;
  }
  &__detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding-top: 2rem;
  }

  &__name {
    font-weight: 600;
    padding-top: 0.5rem;
    text-align: center;
  }

  &__quantity {
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
  }

  &__remove-btn {
    cursor: pointer;
    font-size: 2rem;
    &:hover {
      color: red;
    }
  }
}
