@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  // padding: 3rem;
  // background: url("./assets/background.jpg") no-repeat;
}

.sidebar {
  color: #fff;
}

.content {
  background-color: #fff;
  // margin: 0 5rem;
}
